.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.profile-picture {
    width: 330px;
    height: auto;
    border-radius: 50%;
}
.profile-container img {
    width: 330px;
    height: auto;
    border-radius: 50%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5b46b0;
}
header {
    display: flex;
    background-color: #282c34;
    flex-direction: column;
    align-items: flex-start;

}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
header nav ul li {
    text-align: left;
}
header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: left;
}
header nav ul li a:hover {
    color: #35005c;
}
.about-container {
    text-align: left;
    padding-left: 1.0rem;
    margin-left: 32px;
}
.about-container h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    padding-top: 0;
    margin-top: 0;
}
.about-container p {
    font-size: 1.2rem;
}
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
    margin-left: 32px;
}
.main{
    text-align: left;
    margin-left: 32px
}
.project {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
}
/*
.second-project-img {

    min-width: 200px !important;
    min-height: 100px;
}
*/
.project img {
    max-width: 100%;
    width: 330px;
    height:320px;
    /* width: 100%;*/
    border-radius: 4px;
}

.project h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.project p {
    margin-top: 1rem;
}

.project-links {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.project-links a {
    text-decoration: none;
    background-color: #1b1984;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.contact-container {
    padding: 2rem;
}

.contact-container h2 {
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.contact-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-container label {
    font-size: 1.2rem;
}

.contact-container input,
.contact-container textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-container textarea {
    resize: vertical;
}

.contact-container button {
    background-color: #1b1984;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}